.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --main-color: #212121;
  --secondary-color: #757575;
  --accent-color: #2196F3;
  --portfolio-set-gap: 30px;
}

body {
  font-family: var(--main-font);
  color: var(--main-color);
}

.list {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

img {
  display: block;
}

button {
  padding: 0;
}

.container {
  width: 100%;
  padding: 0 15px;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 33px;
  line-height: 1.179;
  text-align: center;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.167;
  }
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--main-color);
}

.logo-accent {
  color: var(--accent-color);
}

*.filter-list {
  display: flex;
  margin-bottom: 50px;
  flex-wrap: wrap;
}

.filter-btn:nth-child(-n+3) {
  margin-bottom: 15px;
}

.filter-btn:not(:nth-child(3n)) {
  margin-right: 8px;
}

.filter-btn {
  padding: 6px 20px;
  height: 38px;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #F5F4FA;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn:hover, .filter-btn:focus {
  color: #FFFFFF;
  background-color: var(--accent-color);
}

.filter-btn .all {
  min-width: 73px;
}

.filter-btn .web-sites {
  min-width: 128px;
}

.filter-btn .apps {
  min-width: 145px;
}

.filter-btn .design {
  min-width: 103px;
}

.filter-btn .marketing {
  min-width: 130px;
}

@media screen and (min-width: 768px) {
  .filter-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    flex: no-wrap;
  }
}

.modal-btn {
  display: inline-block;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  min-width: 200px;
  min-height: 50px;
  color: #FFFFFF;
  background-color: var(--accent-color);
  cursor: pointer;
  border: 0px solid transparent;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.social-list {
  display: flex;
  justify-content: space-between;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #FFFFFF;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover, .social-list-link:focus {
  background-color: var(--accent-color);
}

.footer .social-list-link:hover,
.footer .social-list-link:focus {
  background-color: var(--accent-color);
}

.social-list-icon {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team .social-list-link:hover .social-list-icon,
.team .social-list-link:focus .social-list-icon {
  fill: #FFFFFF;
}

.footer .social-list-icon {
  fill: #FFFFFF;
}

.footer .social-list-item:not(:last-child) {
  margin-right: 10px;
}

/*.social-list{
    display: flex;
    justify-content: space-between;

    &-link{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        background-color: #FFFFFF;
    
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        &:hover,
        &:focus{
            background-color: var(--accent-color);
        }

        .footer &:hover,
        .footer &:focus{
            background-color: var(--accent-color);
        }
    }
    
    &-icon{
        width: 20px;
        height: 20px;
        fill: #AFB1B8;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        .team .social-list-link:hover &,
        .team .social-list-link:focus &{
            fill: #FFFFFF;
        }
        
        .footer &{
            fill: #FFFFFF;
        }
    }

    .footer &-item:not(:last-child){
        margin-right: 10px;
    }
}
*/
.header .container {
  display: flex;
  align-items: center;
}

.header {
  border-bottom: 1px solid #ECECEC;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation-list {
  display: flex;
  align-items: center;
}

.address-list {
  display: flex;
  align-items: center;
}

.header .logo {
  margin-right: 90px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.navigation-item:not(:last-child) {
  margin-right: 50px;
}

.address {
  margin-left: auto;
}

.address-item:not(:last-child) {
  margin-right: 50px;
}

.logo-light-theme {
  color: #000000;
}

.navigation-link,
.address-link {
  display: flex;
  position: relative;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link {
  color: var(--secondary-color);
}

.address-link:hover, .address-link:focus {
  color: var(--accent-color);
}

.navigation-link {
  color: var(--main-color);
}

.navigation-link:hover, .navigation-link:focus {
  color: var(--accent-color);
}

.navigation-link.current {
  color: var(--accent-color);
}

.adress-icon {
  margin-right: 10px;
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover .adress-icon,
.address-link:focus .adress-icon {
  fill: var(--accent-color);
}

.current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.portfolio-item-link {
  text-decoration: none;
}

.portfolio-item {
  max-width: 450px;
  cursor: pointer;
  box-shadow: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:not(:first-child) {
  margin-top: 30px;
}

.portfolio-item:hover, .portfolio-item:focus {
  outline-offset: 2px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-item-card-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-item-wrapper {
  padding: 20px 24px;
  border-top: none;
  border-right: 1px solid  #EEEEEE;
  border-bottom: 1px solid  #EEEEEE;
  border-left: 1px solid  #EEEEEE;
}

.portfolio-item-wrapper:nth-child(2) {
  padding: 20px 18px;
}

.portfolio-item-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: var(--main-color);
}

.portfolio-description {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.556;
  letter-spacing: 0.03em;
  background-color: rgba(33, 150, 243, 0.9);
  color: #FFF;
  transform: translateY(100%);
  /* opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);*/
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .overlay,
.portfolio-item:focus .overlay {
  /*opacity: 1;
        visibility: visible;
        pointer-events: auto;*/
  transform: translateY(0%);
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--portfolio-set-gap));
    margin-left: calc(-1 * var(--portfolio-set-gap));
  }
  .portfolio-item {
    flex-basis: calc(100%/2-30px);
    margin-left: var(--portfolio-set-gap);
    margin-top: var(--portfolio-set-gap);
  }
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    margin-top: calc(-1 * var(--portfolio-set-gap));
    margin-left: calc(-1 * var(--portfolio-set-gap));
  }
  .portfolio-item {
    flex-basis: calc(100%/3-30px);
  }
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #2F303A;
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.footer .left-side {
  margin-right: 70px;
  min-width: 231px;
}

.footer-address-item {
  margin-bottom: 9px;
}

.footer .logo-dark-theme {
  display: block;
  margin-bottom: 20px;
  color: #FFFFFF;
}

.footer-address-link,
.footer-address-contact {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  text-decoration: none;
}

.footer-address-contact {
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-address-link:hover,
.footer-address-link:focus,
.footer-address-contact:hover,
.footer-address-contact:focus {
  color: var(--accent-color);
}

.footer .social-list-link {
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.right-side {
  margin-right: 93px;
}

.footer-text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.subscribe-form {
  display: flex;
}

.subscribe-form-field {
  padding: 15px 16px;
  width: 358px;
  min-height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
}

.subscribe-form-field:focus {
  outline: none;
  border-color: var(--accent-color);
  color: #fff;
}

.footer .modal-btn {
  margin-left: 12px;
  position: relative;
  text-align: left;
  padding: 10px 28px 10px 29px;
}

.modal-btn-icon-send {
  position: absolute;
  top: 50%;
  right: 28px;
  transform: translateY(-50%);
  fill: #fff;
}
/*# sourceMappingURL=portfolio.css.map */