.footer{
    padding-top: 60px;
    padding-bottom: 60px;
    background: #2F303A;
}

.footer .container{
    display: flex;
    align-items: baseline;
}

.footer .left-side{
    margin-right: 70px;
    min-width: 231px;
}

.footer-address-item{
    margin-bottom: 9px;
}

.footer .logo-dark-theme{
    display: block;
    margin-bottom: 20px;
    color: #FFFFFF;

}

.footer-address-link,
.footer-address-contact{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-decoration: none;
}

.footer-address-contact{
    color: rgba(255, 255, 255, 0.6);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-address-link:hover,
.footer-address-link:focus,
.footer-address-contact:hover,
.footer-address-contact:focus{
    color: var(--accent-color);
}

.footer .social-list-link{
    background-color: rgba(255, 255, 255, 0.1);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.right-side{
    margin-right: 93px;
}

.footer-text{
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #FFFFFF;
}

.subscribe-form{
    display: flex;
}

.subscribe-form-field{
    padding: 15px 16px;
    width: 358px;
    min-height: 50px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;

    &:focus{
        outline: none;
        border-color: var(--accent-color);
        color: #fff;
    }
}

.footer .modal-btn{
    margin-left: 12px;
    position: relative;
    text-align: left;
    padding: 10px 28px 10px 29px;
}

.modal-btn-icon-send{
    position: absolute;
    top: 50%;
    right: 28px;
    transform: translateY(-50%);
    
    fill: #fff;
}