.team{
    min-width: 480px;
    background-color: #F5F4FA;
}

.team-member{
    max-width: 450px;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    &:not(:last-child){
        margin-bottom: 30px;
    }

    &-name{
        margin-bottom: 10px;
    
        font-weight: 500;
        font-size: 16px;
        line-height: 1.188;
        letter-spacing: 0.03em; 
        text-align: center;
    }

    &-position{
        margin-bottom: 16px;
        font-size: 16px;
        line-height: 1.188;
        letter-spacing: 0.03em;
        text-align: center; 
        color: var(--secondary-color);
    }
}

.team-member-wrapper{
    padding: 30px 122px 24px 122px;
    background-color: #FFFFFF;
}

@media screen and (min-width: 768px){
    .team{
        min-width: 768px;

        &-members{
            display: flex;
            flex-wrap: wrap;
            margin-top: calc(-1 * var(--portfolio-set-gap));
            margin-left: calc(-1 * var(--portfolio-set-gap));
        }
    }

    .team-member{
        max-width: 354px;
        margin-left: var(--portfolio-set-gap);
        margin-top: var(--portfolio-set-gap);

        &:not(:last-child){
            margin-bottom: 0;
        }
    }

    .team-member-wrapper{
        padding: 30px 74px 24px 74px;
    }
}

.team-member-wrapper{
    padding: 30px 122px 24px 122px;
    background-color: #FFFFFF;
}

@media screen and (min-width: 1200px){
    .team{
        min-width: 1200px;

        &-members{
            display: flex;
            flex-wrap: no-wrap;
            justify-content: space-between;
        }
    }

    .team-member{
        max-width: 270px;
    }

    .team-member-wrapper{
        padding: 30px 32px;
    }
}