*.filter-list{
    display: flex;
    margin-bottom: 50px;
    flex-wrap: wrap;
}

.filter-btn{
    padding: 6px 20px;
    height: 38px;

    font-family: var(--main-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;
    background-color: #F5F4FA;
    border-radius: 4px;
    border: none;
    cursor: pointer;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,
    &:focus{
    color: #FFFFFF;
    background-color: var(--accent-color);
    } 
}

.all{
    min-width: 73px;
    }
    
.web-sites{
    min-width: 128px;
}
    
.apps{
    min-width: 145px;
}

.design{
    min-width: 103px;
}

.marketing{
    min-width: 130px;
}

.filter-item:not(:last-child){
    margin-right: 8px;
}


@media screen and (min-width: 768px){
    .filter-list{
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
        flex: no-wrap;
    }
}