.logo{
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 24px;
    line-height: 1.167;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--main-color);
    
    &-accent{
    color: var(--accent-color);
    }
}

@media screen and (min-width: 1200){
    .logo{
        font-size: 26px;
        line-height: 1.192;
    }
}