.menu-button{
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;

    .icon-menu{
        display: none;
    }

    &.is-open .icon-menu{
        display: block;
    }
    
    &.is-open .icon-cross{
        display: none;
    }
}

.icon-cross{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
        fill: var(--accent-color);
    }
}


.icon-menu{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
        fill: var(--accent-color);
    }
}

@media screen and (min-width: 768px){
    .menu-button{
        display: none;
    }
}

.menu-container{
    background-color: white;

    &.is-open{
        display: block;
    }
}

@media screen and (max-width: 767px){

    .menu-overlay{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 999;
        opacity: 0;
        visibility: hidden;
    
        transition: opacity 250ms linear,
    }
    
    .menu-overlay.is-open{
        opacity: 1;
        visibility: initial;
        pointer-events: initial;
    }
    
    .menu-overlay .menu-container{

        width: 480px;
        height: 796px;
        padding: 40px 40px 48px 40px;

        transform: translateX(-100%);
        
    }

    .menu-overlay.is-open .menu-container{
        transform: translateX(0);
    }

    .menu-close-btn{
        position: absolute;
        top: 10px;
        right: 15px;
        width: 40px;
        height: 40px;

    
        background-color: #FFFFFF;
        box-sizing: border-box;
        cursor: pointer;
    }

}

@media screen and (min-width: 768px){
    .menu-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0;
        min-width: 515px;
    }
}

@media screen and (min-width: 1200px){
    .menu-container{
        min-width: 932px;
    }
}