:root{
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --main-color: #212121;
    --secondary-color: #757575;
    --accent-color: #2196F3;
    --portfolio-set-gap: 30px;
}